.critic {
  align-items: center;
  border-radius: .938rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50rem;
}

.critic-header {
  width: 100%;
}

.critic-header h2 {
  margin: 0;
}

.critic-header-title {
  color: #fff;
  font-family: Limelight;
  font-weight: 400;
  line-height: 3.625rem;
}

.critic-main {
  align-items: center;
  text-align: center;
  width: 40rem;
}

.critic-main-content {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.875rem;
  text-align: justify;
}

.critic-footer {
  display: flex;
  gap: 10rem;
  padding: 0;
  width: 100%;
}

.critic-footer-userName {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.813rem;
  text-align: right;
  width: 100%;
}

.critic-footer-userName a {
  color: var(--light-text);
  transition: .5s color;
}

.critic-footer-userName a:hover {
  color: #FFF;
}

.critic-footer-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.critic-footer-icons svg {
  cursor: pointer;
  fill: var(--light-text);
  transition: .5s fill;
  width: 2rem;
}

.critic-footer-icons svg:hover {
  fill: #FFF;
}