.critic {
  display: flex;
  flex-direction: column;
  width: 50rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}

.critic-header {
  width: 100%;
}
.critic-header h2 {
  margin: 0;
}
.critic-header-title {
  font-family: "Limelight";
  font-weight: 400;
  line-height: 58px;
  color: #ffffff;
}

.critic-main {
  align-items: center;
  text-align: center;
  width: 40rem;
}

.critic-main-content {
  font-family: "Josefin Sans";
  text-align: justify;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 30px;
  color: #ffffff;
}

.critic-footer {
  padding: 0;
  display: flex;
  width: 100%;
  gap: 10rem;
}

.critic-footer-userName {
  text-align: right;
  width: 100%;

  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 45px;
}
.critic-footer-userName a {
  color: var(--light-text);
  transition: 0.5s color;
}
.critic-footer-userName a:hover {
  color: white;
}
.critic-footer-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
}

.critic-footer-icons svg {
  fill: var(--light-text);
  width: 2rem;
  cursor: pointer;
  transition: 0.5s fill;
}
.critic-footer-icons svg:hover {
  fill: white;
}
