.critic {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  justify-content: space-evenly;
  align-items: center;
  color: var(--dark-color);
  padding: 0 1rem;
}

.critic-header {
  width: 100%;
}

.critic-header h2 {
  margin: 0;
  width: fit-content;
  cursor: pointer;
}
.critic-header h2:hover {
  text-decoration: underline;
}

.critic-header-title {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 58px;
}

.critic-main {
  align-items: center;
}

.critic-main-content {
  font-family: "Josefin Sans";
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.875rem;
  text-align: justify;
}

.critic-footer {
  display: flex;
  gap: 10rem;
  padding: 0;
  width: 100%;
}

.critic-footer-userName {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.813rem;
  text-align: right;
  width: 100%;
}

.critic-footer-userName a {
  color: var(--light-color);
  transition: 0.5s color;
}

.critic-footer-userName a:hover {
  color: var(--dark-color);
}

.critic-footer-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.critic-footer-icons svg {
  cursor: pointer;
  transition: .5s fill;
  fill: var(--light-color);
  width: 2rem;
}

.critic-footer-icons svg:hover {
  fill: var(--dark-color);
}
