@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&family=Limelight&display=swap");

:root {
  background: linear-gradient(90deg, #111523, #1d2a57);

  --primary-color: #152047;

  --font-title: "Limelight", cursive;
  --font-text: "Josefin Sans", sans-serif;

  font-family: var(--font-text);
  font-size: 16px;
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-icon {
  width: 3rem;
}

/*
** Primary Button
*/
.button-primary {
  background: linear-gradient(30deg, #122257 15%, #b3051a);
  padding: 0.6rem 2rem 0.5rem;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-family: var(--font-text);
  transition: all 0.5s;
}
.button-primary:hover {
  background: var(--primary-color);
}
