@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&family=Limelight&display=swap");

/* Debug CSS */
/* * {
  outline: 1px solid blue !important;
} */

:root {
  --gradient: linear-gradient(30deg, #122257 15%, #b3051a);
  --primary-color: #152047;
  --background-color: #f0f0f0;
  --light-color: #a5a4a4;
  --dark-color: #111;
  --font-title: "Limelight", cursive;
  --font-text: "Josefin Sans", sans-serif;

  font-family: var(--font-text);
  font-size: 16px;
  background-color: var(--background-color);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.nav-icon {
  width: 3rem;
}

.add-icon:hover circle {
  transition: all 0.3s ease;
  fill: green;
}
.delete-icon:hover circle {
  transition: all 0.3s ease;
  fill: red;
}

/*
** Loader
*/
.loader {
  fill: black;
  width: 7rem;
}
.loader path:nth-child(2) {
  transform-origin: 0px 20px;
  animation: clapOver 1s infinite ease;
}
.loader path:nth-child(1) {
  transform-origin: 0px 20px;
  animation: clapUnder 1s infinite ease;
}
@keyframes clapOver {
  0% {
    rotate: 0deg;
  }
  40% {
    rotate: -10deg;
  }
  50% {
    rotate: 10deg;
  }
  60% {
    rotate: 0deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes clapUnder {
  0% {
    rotate: 0deg;
  }
  40% {
    rotate: 5deg;
  }
  50% {
    rotate: -3deg;
  }
  60% {
    rotate: 0deg;
  }
  100% {
    rotate: 0deg;
  }
}

/*
** Primary Button
*/
.button-primary {
  background: var(--gradient);
  padding: 0.6rem 2rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-family: var(--font-text);
  transition: all 0.5s;
}
.button-primary:hover {
  background: var(--primary-color);
}

/*
** Primary Button
*/
.button-default {
  background-color: white;
  cursor: pointer;
  height: 1.7rem;
  padding: 0 1.5rem;
  border-radius: 3px;
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.3s;
}
.button-default:hover:not(:disabled) {
  background-color: black;
  color: white;
}
.button-default:disabled {
  cursor:default;
}

/*
** ScrollBar
*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-color);
}

::selection {
  background-color: var(--dark-color);
  color: white;
}
