@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&family=Limelight&display=swap");

/* Debug CSS */
* {
  outline: 1px solid blue !important;
}

:root {
  /* background: linear-gradient(
    90deg,
    #151a2e 1%,
    #111523 15%,
    #111523 85%,
    #151a2e 99%
  ); */
  
  --primary-color: #152047;
  --background-color: #f0f0f0;
  --light-color: #949393;
  --dark-color: #111;
  --font-title: "Limelight", cursive;
  --font-text: "Josefin Sans", sans-serif;
  
  font-family: var(--font-text);
  font-size: 16px;
  background-color: var(--background-color);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.nav-icon {
  width: 3rem;
}

/*
** Primary Button
*/
.button-primary {
  background: linear-gradient(30deg, #122257 15%, #b3051a);
  padding: 0.6rem 2rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-family: var(--font-text);
  transition: all 0.5s;
}
.button-primary:hover {
  background: var(--primary-color);
}

/*
** ScrollBar
*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-color);
}

::selection {
  background-color: var(--dark-color);
  color: white;
}
