.headerLanding {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-image: url("../assets/img/seats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.headerLanding p {
  font-size: 3rem;
  color: #646464;
  font-weight: 300;
  text-align: center;
}
.headerLanding input {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 40rem;
  height: 3rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}