.headerLanding {
  position: fixed;
  width: 100%;
  height: 35rem;
  gap: 5rem;
  background-image: url("../assets/img/seats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-color: var(--background-color);
}
.headerLanding p {
  margin-top: 8rem;
  font-size: 3rem;
  color: #646464;
  font-weight: 300;
  text-align: center;
}