.masterpiece {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
}

.masterpiece-title {
  cursor: pointer;
}
.masterpiece-title:hover {
  text-decoration: underline;
}

.masterpiece-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
}

.masterpiece-left img {
  border-radius: 5px;
  width: 12rem;
  object-fit: cover;
}

.masterpiece-description {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 1.25rem;
  text-align: justify;
}

.masterpiece-release-director {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.masterpiece-footer {
  display: flex;
  gap: 10rem;
}

.masterpiece-footer-userName {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: right;
  width: 100%;
}

.masterpiece-footer-userName a {
  color: var(--light-color);
  transition: 0.5s color;
}

.masterpiece-footer-userName a:hover {
  color: var(--dark-color);
}

.masterpiece-footer-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.masterpiece-footer-icons svg {
  cursor: pointer;
  fill: var(--light-color);
  transition: 0.5s fill;
  width: 2rem;
}

.masterpiece-footer-icons svg:hover {
  fill: var(--dark-color);
}
