.masterpiece {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50rem;
}

.masterpiece img {
  border-radius: 5px;
  width: 12rem;
}

.masterpiece-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 30rem;
}

.masterpiece-title {
  margin-left: 1rem;
  cursor: pointer;
  align-self: flex-start;
}
.masterpiece-title:hover {
  text-decoration: underline;
}

.masterpiece-director {
  margin-left: 1rem;
  align-self: flex-start;
}

.masterpiece-description {
  font-weight: 300;
  line-height: 20px;
  text-align: justify;
  width: 90%;
}

.masterpiece-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  width: 90%;
}

.masterpiece-footer-userName {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: right;
  width: 100%;
}

.masterpiece-footer-userName a {
  color: var(--light-color);
  transition: 0.5s color;
}

.masterpiece-footer-userName a:hover {
  color: var(--dark-color);
}

.masterpiece-footer-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.masterpiece-footer-icons svg {
  cursor: pointer;
  fill: var(--light-color);
  transition: 0.5s fill;
  width: 2rem;
}

.masterpiece-footer-icons svg:hover {
  fill: var(--dark-color);
}

@media (max-width: 800px) {
  .masterpiece {
    width: 100%;
    padding: 0;
  }
}
