.movie-page {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #000000d7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.movie {
  position: relative;
  border-radius: 5px;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-color: var(--background-color);
  color: var(--dark-color);
  z-index: 2;
  overflow: scroll;
}

.movie-description {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.movie-description img {
  width: 15rem;
  margin: 0 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #00000057;
}
.movie-infos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
  width: 40rem;
  gap: 1rem;
  line-height: 30px;
  padding: 0 2rem;
}

.movie form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.movie form label {
  font-size: 1.2rem;
  font-weight: 600;
}
.movie form textarea {
  margin-top: 1rem;
  width: 95%;
  padding: 0.5rem;
}

.movie-critics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
