.movie-page {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #000000d7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.movie {
  position: relative;
  border-radius: 5px;
  max-width: 90%;
  height: 80vh;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-color: var(--background-color);
  color: var(--dark-color);
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}

.movie-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.movie-header svg {
  position: fixed;
  margin: 1rem 1rem 0 0;
  fill: black;
}

.movie-description {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  width: 99%;
}
.movie-description img {
  width: 15rem;
  margin: 0 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #00000057;
}
.movie-infos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
  width: 35rem;
  gap: 1rem;
  line-height: 30px;
  padding: 0 2rem;
}
.movie-infos h1 {
  text-align: left;
  line-height: 35px;
}

.movie-infos svg {
  cursor: pointer;
  fill: var(--light-color);
  transition: 0.5s fill;
  width: 2rem;
}

.movie-trailer {
  width: 90%;
}
.movie-trailer iframe {
  width: 100%;
  height: 30rem;
}

.movie-vote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.movie-infos svg:hover {
  fill: var(--dark-color);
}

.movie-vote .stars svg {
  fill: black;
  width: 2rem;
  cursor: pointer;
}

.movie form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.movie form label {
  font-size: 1.2rem;
  font-weight: 600;
}
.movie form textarea {
  margin-top: 1rem;
  width: 95%;
  padding: 0.5rem;
}

.movie-critics h1 {
  margin-left: 1rem;
}
.movie-critics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  .movie-trailer iframe {
    height: 11rem;
  }
}
