.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 5.5rem;
  padding-top: 1rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav-logo {
  margin-left: 2rem;
  width: 10rem;
}
.logout-icon {
  cursor: pointer;
  fill: white;
  width: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-right: 5rem;
  right: 0;
  top: 0.5rem;
}

@media (max-width: 650px) {
  .nav-logo {
    width: 6rem;
  }
  .profile-icon {
    width: 2.5rem;
  }
  .logout-icon {
    width: 1.8rem;
  }
  .nav-links {
    font-size: 0.6rem;
    margin: 0 2rem 0 0;
  }
  .nav .button-primary {
    font-size: 0.7rem;
  }
}
