.nav {
  align-items: center;
  color: #FFF;
  display: flex;
  height: 5.5rem;
  justify-content: space-between;
  padding-top: 1rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav-logo {
  margin-left: 2rem;
  width: 10rem;
}

.nav-links {
  align-items: center;
  display: flex;
  font-size: .9rem;
  gap: 4rem;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-right: 5rem;
  position: fixed;
  right: 0;
  top: .5rem;
}
