.navPanel {
  background-color: var(--background-color);
  width: 100%;
  position: sticky;
  top: 0rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35rem;
  padding: 1rem 0 0;
}

.navPanel ul {
  position: relative;
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navPanel ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.navPanel ul li:hover svg {
  fill: var(--dark-color);
  stroke: var(--dark-color);
}

.tab-bar {
  position: absolute;
  top: 3.5rem;
  width: 2.8rem;
  height: 0.2rem;
  border-radius: 25px;
  background-color: var(--dark-color);
  transition: left 0.3s cubic-bezier(0.31, -0.2, 0.73, 1.21);
}

.tab-active {
  fill: var(--dark-color);
  stroke: var(--dark-color);
}

.tab {
  fill: var(--light-color);
  stroke: var(--light-color);
}

.tab-name {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.separation-bar {
  width: 50%;
  max-width: 30rem;
  height: 2px;
  background-color: #8a898971;
  margin: 1rem 0 0;
}

@media (max-width: 800px) {
  .navPanel ul {
    width: 100%;
  }
  .navPanel ul li svg {
    width: 2rem;
  }
  .tab-bar {
    display: none;
  }
}
