.navPanel {
  background-color: var(--background);
  width: 100%;
  position: sticky;
  top: 0rem;
  z-index: 1;
  margin: 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navPanel ul {
  position: relative;
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navPanel ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.navPanel ul li:hover svg {
  fill: black;
  stroke: black;
}

.tab-bar {
  position: absolute;
  top: 3.5rem;
  width: 2.8rem;
  height: 0.2rem;
  border-radius: 25px;
  background-color: black;
  transition: left 0.3s cubic-bezier(0.31, -0.2, 0.73, 1.21);
}

.tab-active {
  fill: black;
  stroke: black;
}

.tab {
  fill: var(--light-text);
  stroke: var(--light-text);
}

.tab-name {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}
