.navPanel {
  background-color: var(--background-color);
  font-family: var(--font-title);
  width: 100%;
  position: sticky;
  top: 0rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35rem;
  padding: 1rem 0 0;
}

.navPanel ul {
  position: relative;
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navPanel ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.navPanel ul li:hover svg {
  fill: var(--dark-color);
  stroke: var(--dark-color);
}

.tab-bar {
  position: absolute;
  top: 3.5rem;
  width: 2.8rem;
  height: 0.2rem;
  border-radius: 25px;
  background-color: var(--dark-color);
  transition: left 0.3s cubic-bezier(0.31, -0.2, 0.73, 1.21);
}

.tab-active {
  fill: var(--dark-color);
  stroke: var(--dark-color);
}

.tab {
  fill: var(--light-color);
  stroke: var(--light-color);
}

.tab-name {
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  position: relative;
}
.tab-name h1 {
  font-size: 1.7rem;
}
.search-bar {
  border: none;
  outline: none;
  border-radius: 5px;
  max-width: 20rem;
  width: 90%;
  height: 2rem;
  padding-left: 1rem;
}
.reset-input {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  fill: black;
  width: 1rem;
}
.tab-name button {
  border: none;
  padding: 0.5rem 1rem;
  width: 10rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tab-name button:hover {
  background-color: white;
  color: black;
}
.tab-name button:first-child {
  border-radius: 25px 0 0 25px;
  border-right: 1px solid white;
}
.tab-name button:last-child {
  border-radius: 0 25px 25px 0;
  border-left: 1px solid white;
}

.separation-bar {
  width: 50%;
  max-width: 30rem;
  height: 1px;
  background: var(--gradient);
  margin: 1rem 0 0;
}

@media (max-width: 800px) {
  .navPanel ul {
    width: 100%;
  }
  .navPanel ul li svg {
    width: 2rem;
  }
  .tab-bar {
    display: none;
  }
}
