.release {
  max-width: 55rem;
}

.release h1 {
  margin-left: 1rem;
  font-family: var(--font-title);
}

.posters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.release img {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.release p {
  width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  text-align: center;
  color: var(--dark-color);
  font-family: var(--font-title);
}

@media (min-width: 800px) {
  .release img:hover {
    scale: 1.16;
    border-radius: 0px;
  }
  .release img:not(:hover) {
    opacity: 0.75;
  }
}
@media (max-width: 550px) {
  .release img {
    width: 7rem;
    height: 10rem;
  }
  .release p {
    width: 10ch;
  }
}
