.release {
  max-width: 55rem;
}

.release h1 {
  margin-left: 1rem;
}

.posters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.release img {
  width: 10rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.release img:hover {
  scale: 1.1;
  border-radius: 0px;
}
/* .release img:not(:hover) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.75;
} */

.release p {
  width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  text-align: center;
  color: var(--dark-color);
}

@media (max-width: 550px) {
  .release img {
    width: 7rem;
  }
  .release p {
    width: 10ch;
  }
}
