.users {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  width: 20rem;
  gap: 1rem;
}

.users header {
  display: flex;
  justify-content: center;
  position: relative;
}

.users header h3 {
  font-size: 1.5rem;
  text-align: center;
  height: 3rem;
  margin: 0;
  width: 10.5rem;
}

.addUser {
  bottom: 3rem;
  position: absolute;
  right: 0.5rem;
}

.user-datas div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: space-between;
}

.user-datas div p {
  margin: 0;
  font-size: 1.2rem;
}

.users svg {
  width: 2.5rem;
  fill: var(--dark-color);
}

.genderMovie,
.user-datas {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
