.userDatas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.user-data {
  background-color: white;
  align-items: center;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;
  font-weight: 600;
  width: 8rem;
  padding: 1rem;
  height: 13rem;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.user-data:hover {
  background-color: black;
  color: white;
}
.user-data:hover .user-data-icon {
  fill: white;
}

/* Specific to list icon */
.user-data:hover .user-data-icon path:nth-child(n + 2) {
  fill: black;
}
.user-data-icon-active path:nth-child(n + 2) {
  fill: #890d2a;
}

.user-data-icon {
  fill: var(--dark-color);
}

.user-data-title {
  font-size: 1.2rem;
}

.user-data-value {
  font-size: 2rem;
}

@media (max-width: 700px) {
  .user-data-icon {
    width: 2rem;
  }
  .user-data {
    padding: 1rem 0.2rem;
    width: 6rem;
    max-width: 20vw;
    height: 8rem;
    gap: 0;
  }
  .user-data-title {
    font-size: 0.8rem;
  }
  .user-data-value {
    font-size: 1rem;
  }
}
