.user-data {
  align-items: center;
  border-radius: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  gap: 2rem;
  width: 9rem;
}

.user-data-icon {
  fill: black;
}

.user-data-title {
  font-size: 1.2rem;
}

.user-data-value {
  font-size: 2rem;
}
